:root {
	--main-blue-color: #F79618;
}
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
	color: #666666;
	background-color: #fff;
}
/*#####################################################*/
header {
	background-color: #fff;
}
#logo {
	color: #222;
}
#navigation {
	margin: auto;
	display: flex;
}
#navigation #left {
	flex: 1;
	color: #222;
	font-size: 18px;
	padding: 20px;
}
#navigation #right {
	display: flex;
}
#navigation #right .item {
	margin: 0 10px;
	padding: 20px;
	cursor: pointer;
}
#navigation #right .item a {
	color: #222;
	font-size: 18px;
	text-decoration: none;
}
#navigation .item:hover .dropdown {
	display: block;
}
#navigation .item .dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 6px;
    min-width: 150px;
}
#navigation #right .item .dropdown .drop_item {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
#navigation #right .item .dropdown .drop_item:last-child {
	border: none;
}
#navigation #right .item .dropdown .drop_item a {
    white-space: nowrap;
}
#navigation #right .item .dropdown .drop_item a:hover {
    color: #fd4f50;
}
/*#####################################################*/
#wrapper {
	max-width: 1000px;
	margin: auto;
}
#wrapper.text {
	line-height: 1.4;
	margin: 40px auto;
}
#hero {
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../bild.jpg');
	background-size: cover;
	background-position: center top;
}
#hero #hero_text {
	padding: 40px 20px;
}
/*#####################################################*/
#content .heading {
	font-family: 'Roboto', sans-serif;
	font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1920 - 300)));
	margin-bottom: 20px;
	font-weight: 400;
}
button:hover {
	background-color: #fd4f50;
	color: #fff;
}
button {
	border: 2px solid #fd4f50;
	background-color: transparent;
	padding: 10px 50px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #fd4f50;
	cursor: pointer;
}
/*#####################################################*/
#content.colored {
	background-color: #FD4F50;
}
#content.colored .text_c {
	color: #fff;
}
/*#####################################################*/
#content.text .text_c {
	display: flex;
	margin: auto;
	max-width: 1500px;
	padding: 80px 40px;
}
#content.text .text_c .left {
	flex: 1;
	max-width: 50%;
	text-align: right;
	min-width: 180px;
}
#content.text .text_c .right {
	flex: 1;
	margin-left: 40px;
	line-height: 1.4;
	font-size: 18px;
	min-width: 200px;
}
/*#####################################################*/
#content.splitted {
	display: flex;
}
#content.splitted .image, #content.splitted .text_c {
	flex: 1;
}
#content.splitted .image {
    font-size: 0px;
}
#content.splitted .image img {
	width: 100%;
}
#content.splitted .text_c {
	display: flex;
	align-items: center;
	min-width: 400px;
	background-color: #fff;
}
#content.splitted.textLeft .text_c {
	justify-content: flex-end;
}
#content.splitted .text_c .text_c_margin {
	text-align: left;
	display: inline-block;
	padding: 40px calc(40px + 5vw);
}
#content.splitted .text_c .text_c_margin .text {
	margin-bottom: 20px;
	line-height: 1.4;
	font-size: 18px;
}
/*#####################################################*/
#pageHeading {
	text-align: center;
    font-size: 50px;
    font-family: 'Bree Serif', sans-serif;
    padding: 40px;
    background-color: #FD4F50;
    color: #fff;
}
#pageText {
	max-width: 1000px;
	padding: 40px 0px;
	font-size: 18px;
	line-height: 1.4;
	margin: auto;
}
#pageText img {
	margin: 20px 0px;
	width: 100%;
}
/*###########################################################*/
#footer {
	background-color: #666;
    color: #fff;
    padding: 40px;
}
#footer #wrapper {
	display: flex;
    justify-content: space-between;
}